{% extends "app/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
            <section class="hero pad" style="align-items: center;">
                <div class="boxCenter">
                    <form method="post">
                        {% csrf_token %}
                            <legend>
                                <h1>Enter your credentials:</h1>
                            </legend>
                             {{ form|crispy }}
                        <button type="submit">Login</button>
                    </form>
                </div>
            </section>
{% endblock %}