{% extends "app/header.html" %}
{% load static %}
{% block content %}
<section class="sectionResults">
    <div class="boxCenter pad">
        <h1>Survey results
            <a href="#" onclick="download_table_as_csv('creators-table');">Download as CSV</a>
        </h1>
        <div class="cardContainer" style="overflow-x:auto;">
            <table id="creators-table" data-name="product-table">
                <thead>
                    <tr id="tableHeader">
                        <th scope="col">User ID</th>
                        <th scope="col">survey_id</th>
                        <th scope="col">survey_user_id</th>
                        <th scope="col">case_id</th>
                        <th scope="col">case_settings</th>
                        <th scope="col">case_answer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in survey_data %}
                        <tr class="tbc">
                            <td>{{data.id}}</td>
                            <td>{{data.survey_id}}</td>
                            <td>{{data.survey_user_id}}</td>
                            <td>{{data.case_id}}</td>
                            <td>{{data.case_settings}}</td>
                            <td>{{data.case_answer}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block jsfile %}
<script>
// Quick and simple export target #table_id into a csv
function download_table_as_csv(table_id, separator = ',') {
    // Select rows from table_id
    var rows = document.querySelectorAll('table#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll('td, th');
        for (var j = 0; j < cols.length; j++) {
            // Clean innertext to remove multiple spaces and jumpline (break csv)
            var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
            // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
            data = data.replace(/"/g, '""');
            // Push escaped string
            row.push('"' + data + '"');
        }
        csv.push(row.join(separator));
    }
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
</script>
{% endblock %}