{% extends "app/header.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{% autoescape off %}
{% for code in code_css %}
<style>
    {{code }}
</style>
{% endfor %}
{% endautoescape %}

<style>

</style>
{% endblock %}
{% block content %}
<section class="gridWrapper padGridWrapper">
    <div class="boxLeftSurvey pad">
      <div class="boxHeader">
        <h1>1/X</h1>
      </div>
      <div class="container">
        <div class="fake-browser">
          <div class="fake-browser-header">
            <div class="action-btns">
              <span></span>
              <span></span> 
              <span></span>
            </div>
            <div class="address-bar">
              <input type="text" value="https://example.com"/>
            </div>
            <div class="setting-more">
            </div>
          </div>
          <section class="fake-window-body">
            {% autoescape off %}
            {% for code in code_html %}
            {{ code }}
            {% endfor %}
            {% endautoescape %}
            </section>
        </div>
      </div>
    </div>
    <div class="boxRightSurvey pad">
      <div class="boxHeader">
        <h1>{{title_question}}</h1>
    </div>
    {% if text_external %}
    <div class="boxInfoHome surveyCase">
        {{ text_external }}
    </div>
    {% endif %}
    <div class="formContainer" id="formDiv">
      <div class="boxForm sticky">
          <h1 class="caseQuestion">WHATEVER</h1>
          <form method="post" >
            {% csrf_token %}
              <hr>
              <button id="formAnswer" type="submit" name="formAnswer">TEST</button>
          </form>
      </div>
    </div>
    </div>
</section>
{% endblock %}

{% block jsfile %}
<script>
    {% autoescape off %}
    {% for code in code_js %}
    {{ code }}
    {% endfor %}
    {% endautoescape %}
</script>
{% endblock %}